@import './variables';


#root {
  padding: 0 !important;
}

body {
  background-color: $tertiary-color;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 80px;
  width: 100%;
}

button {
  height: 44px;
  min-width: 80px;
  border-radius: 5px;
  margin: 5px 15px 30px 0;
  font-size: 16px;
}

.link-as-btn {
  display: inline-flex; // Use flexbox for alignment
  align-items: center;  // Vertically center content
  justify-content: center; // Horizontally center content
  height: 44px; // Fixed height
  min-width: 80px;
  padding: 0 20px; // Adjust padding for horizontal spacing only
  border: solid 2px $primary-color;
  border-radius: 5px;
  text-decoration: none; // Removes underline
  font-size: 16px;
  background-color: $secondary-color;
  color: $primary-color;
  cursor: pointer;

  &:hover {
    background-color: $accent-tertiary-color;
  }
}
