@import './variables';

#root {
  padding: 0 !important;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  margin: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

//buttons
button {
  height: 44px;
  border-radius: 5px;
  margin: 5px;
}