$primary-color: #242234;
$secondary-color: #fbfaf5;
$tertiary-color: #ededed;

$accent-primary-color: #8fb1be;
$accent-secondary-color: #a0cbad;
$accent-tertiary-color: #fcc560;
$accent-quatenary-color: #d53302;

// 18% grey for correct color grading
$grey-18-percent: #808080;

$white: #ffffff;
$black: #000000;
