$primary-color: #242234;
$secondary-color: #f3f6f0;
$tertiary-color: #8fb1be;

/*
Expansion of color palette
$accent-primary-color: #a0cbad;
$accent-secondary-color: #fcc560;
$accent-tertiary-color: #d53302;
*/

$white: #ffffff;
$black: #000000;
