@import '../../globals';
@import '../../variables';
@import '../../mixins';


.color-list {
    color: $black;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 70%;         
    min-width: 250px;
    max-width: 500px;
    margin: 0 auto;

    .img-color {
        width: 200px;
        height: 75px;
        object-fit: cover;
        object-position: center;
    }
}
