@import '../variables';
@import '../mixins';


// !! adjust styling to keep .navbar above header border  !!

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: $secondary-color; // background behind burger 
  color: $white;

  .burger-menu {
    position:absolute;
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    margin: 0;
    gap: 4px;
    top: 55%;
    z-index: 20; // burger is above nav when active
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    
    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $primary-color; // bars' color
      transition: all 0.3s ease;
    }

    // 'x' transformation when active
    &.active {
      span:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
      }
      span:nth-child(2) {
        opacity: 0; // middle bar hidden
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
      }
    }
  }

  
  .nav { 
    list-style: none;
    display: none; // hidden by default
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100px;
    background-color: $accent-tertiary-color;
    padding: 16px;

    li {
      a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
          color: $primary-color; // hover effect menu items
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }

  // active burger --> show menu
  &.active {
    .nav {
      display: flex; // show burger version on smaller screens
    }
  }

  /*
  @include respond-to(desktop) {
    .burger-menu {
      display: none; // hide burger version on larger screens
    }

    .nav {
      display: flex; // menu bar on larger screens
      flex-direction: row;
      gap: 32px;

      li {
        a {
          font-size: 1rem;
        }
      }
    }
  }
  */
}
